:root {
    --color-blue-10: hsl(240, 100%, 10%);
    --color-blue-20: hsl(240, 100%, 20%);
    --color-blue-30: hsl(240, 100%, 30%);
    --color-blue-40: hsl(240, 100%, 40%);
    --color-blue-50: hsl(240, 100%, 50%);
    --color-blue-60: hsl(240, 100%, 60%);
    --color-blue-70: hsl(240, 100%, 70%);
    --color-blue-80: hsl(240, 100%, 80%);
    --color-blue-90: hsl(240, 100%, 90%);
}