// Cores

.color-10 {
  background-color: var(--color-blue-10);
}

.color-20 {
  background-color: var(--color-blue-20);
}

.color-30 {
  background-color: var(--color-blue-30);
}

.color-40 {
  background-color: var(--color-blue-40);
}

.color-50 {
  background-color: var(--color-blue-50);
}

.color-60 {
  background-color: var(--color-blue-60);
}

.color-70 {
  background-color: var(--color-blue-70);
}

.color-80 {
  background-color: var(--color-blue-80);
}

.color-90 {
  background-color: var(--color-blue-90);
}
